/* Primary Colors */
/* Graphic design text */
/* Photography text */
/* Footer */
/* Neutral Colors */
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 18px;
  overflow-x: hidden;
  font-family: 'Barlow';
  font-weight: 600;
}

.header {
  width: 100%;
  height: 60vh;
  background: url(/images/mobile/image-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header .nav {
  max-width: 100%;
  height: 80px;
  padding: 0px 20px;
  justify-content: space-between;
  background: transparent;
  align-items: center;
  position: relative;
}

.header .nav ul {
  flex-direction: column;
  background: white;
  position: absolute;
  top: 90px;
  width: 90%;
  z-index: 10;
  display: none;
}

.header .text-icon {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.header .text-icon .header-text {
  color: white;
  font-family: 'Fraunces';
  font-size: 2em;
  letter-spacing: 10px;
  font-weight: 700;
}

.header .text-icon .arrow-icon {
  margin-top: 40px;
}

.services-grid {
  grid-template-columns: 1fr;
  grid-template-rows: 50vh 55vh 50vh 55vh repeat(2, 70vh);
}

.services-grid .grid-item-1 {
  background: url(/images/mobile/image-transform.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-grid .grid-item-2, .services-grid .grid-item-4 {
  text-align: center;
  padding: 50px 15px;
  background: white;
}

.services-grid .grid-item-2 h2, .services-grid .grid-item-4 h2 {
  color: #23303e;
  font-family: 'Fraunces';
  font-size: 2.5rem;
  font-weight: bolder;
}

.services-grid .grid-item-2 p, .services-grid .grid-item-4 p {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #818498;
  line-height: 1.6;
}

.services-grid .grid-item-2 .learn-more, .services-grid .grid-item-4 .learn-more {
  color: #23303e;
  font-family: 'Fraunces';
  font-size: 1.2rem;
  font-weight: bolder;
  border-bottom: 3px solid #fad400;
}

.services-grid .grid-item-3 {
  background: url(/images/mobile/image-stand-out.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-grid .grid-item-5, .services-grid .grid-item-6 {
  background: url(/images/mobile/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  padding: 60px 10px;
}

.services-grid .grid-item-5 .text, .services-grid .grid-item-6 .text {
  width: 100%;
  text-align: center;
}

.services-grid .grid-item-5 .text h2, .services-grid .grid-item-6 .text h2 {
  font-family: 'Fraunces';
  font-weight: bolder;
  margin-bottom: 40px;
  color: #25564b;
}

.services-grid .grid-item-5 .text p, .services-grid .grid-item-6 .text p {
  color: #25564b;
  line-height: 1.6;
  font-weight: 800;
}

.services-grid .grid-item-6 {
  background: url(/images/mobile/image-photography.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services-grid .grid-item-6 .text h2 {
  color: #19536b;
}

.services-grid .grid-item-6 .text p {
  color: #19536b;
}

.grid {
  display: grid;
  max-width: 100%;
}

.flex-box {
  display: flex;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
